input {
    border: 1px solid #a9a9a9;
}

p {
    padding: 0;
    margin: 0;
}

.queue-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: lightgray;
}

.queue-contents {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    width: 960px;
    height: 540px;
    top: 70px;
    left: 50%;
    margin-left: -480px;
    background: #FFFFFF;
}

.queue-contents .text {
    font-size: 18px;
    line-height: 30px;
    margin-top: 25px;
    text-align: center;
}

.queue-contents button {
    width: 120px;
    height: 36px;
    color: #fff;
    border-radius: 5px;
    background: #00a0e9;
    font-size: 16px;
    outline: none;
    border: none;
    margin-top: 10%;
    clear: both;
}

.queue-contents>p {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: left;
    padding: 5px 0 5px 5px;
    font-size: 12px;
    border-bottom: 1px solid lightgray;
}

.queue-contents>p>span {
    display: inline-block;
    height: 12px;
    width: 12px;
    background: url('../img/error.jpg');
    background-size: 100%;
}

.queue-contents>ul>li {
    float: left;
    /* width: 24vw;
    height:14vw; */
    width: 328px;
    height: 190px;
    max-width: 340px;
    max-height: 246px;
    /* margin-left: 4vw; */
    margin-left: 54px;
    padding: 0;
}

.queue-contents>ul {
    float: left;
    width: 100%;
    margin-top: 140px;
    box-sizing: border-box;
    padding: 0 68px;
}

.queue-contents>ul>li>img {
    width: 100%;
    height: 100%;
    margin: 0;
}

.queue-contents>ul>li>input {
    display: none;
}

.queue-header {
    width: 84%;
    height: 40px;
    line-height: 40px;
    top: 0;
    font-size: 16px;
    color: #333;
    text-align: center;
    border-top: 1px solid #ccc;
    background-color: #FFFFFF;
    position: absolute;
    padding: 9px 0 9px 16%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.headerItem {
    float: left;
    margin-left: 10px;
}

.queue-header>img {
    height: 24px;
    width: 108px;
    display: block;
}

.queue-header>span {
    border-left: 1px solid #666;
    height: 16px;
}